body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #282c34;
  height: 50px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu-item {
  padding: 5px 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.menu-item:hover {
  color: grey;
}

.main {
  width: 100%;
  height: 100%;
  margin: 70px;
  background-color: white;
}

.books-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.books {
  width: 50%;
}

.add-books {
  width: 30%
}

th {
  text-align: left;
}

.book-row:hover {
  background-color: lightgray;
}